/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #36abb8;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background: #b4ba5b;
    color: #000000;
    padding: 1rem 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

header p {
    margin: 0.5rem 0 0;
}

section {
    padding: 2rem;
    max-width: 800px;
    margin: auto;
}

#about .about-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

#about img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

#skills ul {
    list-style: none;
    padding: 0;
}

#skills li {
    background: #5d9360;;
    margin: 0.5rem 0;
    padding: 0.5rem;
}

#projects .project {
    background: #5d9360;
    margin: 1rem 0;
    padding: 1rem;
    border: 1px solid #ddd;
}

#projects img {
    max-width: 100%;
    height: auto;
}

#resume a {
    display: inline-block;
    background: #333;
    color: #fff;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 5px;
}

#contact p {
    margin: 0.5rem 0;
}

footer {
    background: #b4ba5b;
    color: #000000;
    text-align: center;
    padding: 1rem 0;
}

footer p {
    margin: 0;
}
